*{
   background-color: black;
}



.Clase{
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    border: solid 2px rgb(255, 255, 255);
}

.Clase a{
    float: left;
    text-align: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    margin: 2% 5%;
    background-color: white;
}

.active{
    background-color: black;
    color: white;

}

img{
    width:30%;
}

.TITULO{
    float: right;
    text-align: center;
    padding-right:30px;
    padding-top: 90px;
    color: white;
    font-size: 20px;
}

.P1{
    font-size: 18px;
    
}